.node .background{ fill: #c9c9c9 }
.node .title { fill:#fff }
.node.style1 .background { fill:#2B99CA }
.node.style2 .background { fill: #89C644 }
.node.style3 .background { fill: #DF1C1A }
.node.style4 .background { fill: #191220 }
.node.style5 .background { fill: #DEDDDF }
.node.style5 .title { fill: #191220 }
.node {
    cursor:pointer;
}
.node .title {
    user-select: none;
}

.node:hover .background .rect{
	stroke:#c9c9c9;
}

.node.selected {
    stroke:#c9c9c9;
    stroke-width:2px;
}

.node.ng-enter, .node.ng-leave{
	-webkit-transition:0.3s ease-in-out all;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:0.3s ease-in-out all;
	transition:0.3s ease-in-out all;
}
.node.ng-enter{
	-webkit-transition:0.3s ease-in-out all;
	-moz-transition:0.3s ease-in-out all;
	-o-transition:0.3s ease-in-out all;
	transition:0.3s ease-in-out all;
	opacity:0;
}
.node.ng-enter.ng-enter-active{
	-webkit-transition:0.3s ease-in-out all;
	-moz-transition:0.3s ease-in-out all;
	-o-transition:0.3s ease-in-out all;
	transition:0.3s ease-in-out all;
	opacity:1;
}
.node.ng-leave{
	-webkit-transition:0.3s ease-in-out all;
	-moz-transition:0.3s ease-in-out all;
	-o-transition:0.3s ease-in-out all;
	transition:0.3s ease-in-out all;
	opacity:1;
}
.node.ng-leave.ng-leave-active{
	-webkit-transition:0.3s ease-in-out all;
	-moz-transition:0.3s ease-in-out all;
	-o-transition:0.3s ease-in-out all;
	transition:0.3s ease-in-out all;
	opacity:0;
}
.node .innerWrap{
	-webkit-transition:0.3s ease-in-out all;
	-moz-transition:0.3s ease-in-out all;
	-o-transition:0.3s ease-in-out all;
	transition:0.3s ease-in-out all;
	-moz-transform:scale(1,1);
	transform:scale(1,1);
}
.node.ng-enter.ng-enter-active .innerWrap{
    transform:scale(1.1,1.1);
}
.node.ng-leave .innerWrap{
	transform:scale(1,1);
}
.node.ng-leave.ng-leave-active .innerWrap{
	transform:scale(0.9,0.9);
}
.node:hover .innerWrap,.node:active .innerWrap{
	transform:scale(1.05,1.05);
}
