<div>
    <svg class="nodeboard" xmlns="http://www.w3.org/2000/svg" width="100%" height="500">
        <rect width="100%" height="100%" fill="#f9f9f9"></rect>
        <g ng-attr-transform="scale({{scale}})">
            <g ng-animate="'animate'" ng-repeat="link in links" sf-link id="link_{{link.id}}" class="link {{link.className}}"></g>
            <g ng-animate="'animate'" ng-repeat="node in nodes" sf-node id="node_{{node.id}}" class="node {{node.className}}" ng-attr-transform="translate({{node.x}},{{node.y}})"></g>
        </g>
    </svg>
</div>
<div class="controls">
    <div class="button icon" ng-click="zoomIn()" data-title="test" bs-tooltip="tooltip">+</div>
    <div class="button icon" ng-click="zoomOut()">-</div>
</div>